body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'PacFont', sans-serif;
  position: absolute;
}
@font-face {
  font-family: PressStart2P;
  src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf');

}

@font-face {
  font-family: PacFont;
  src: url('../fonts/pacfont/PAC-FONT.TTF');
}



.artBody p{
  font-family: PressStart2P;
  margin-bottom: 70px;

}

#whatIcon {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 30px;
  bottom: 940px;
  padding: 24px;

}
.pageContent {
  font-family: 'PacFont', ;
}

.frontArt{
  font-family: 'Press Start 2P','Bungee Spice';
  font-size: 1.5em;
  /*font-weight: bold;*/
}

/* NEWS HEADER */
.ArtHead{
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
font-family: 'PacFont';
}

/** HEADER **/
#header-nav {
  background-color: white;
  border-radius: 0;
  border: 0;
}

.itemDetails{
  font-family: PressStart2P;
  text-align: center;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  font-family: 'VT323';
  font-size: 1em;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  font-family: PressStart2P;
  line-height: 2;
  color: white;
  padding: 10px;

}
#hours > span, #address > span {
  font-size: 1.3em;
  color: white;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-family: PressStart2P;
  font-style: italic;
  color: white;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}

#copyR{
  font-family: PressStart2P;
  color: white;
}
/* END FOOTER */


/*MEDIA PAGE*/
#newsHead{
  font-family: PressStart2P;
  color: #020202;
  text-decoration: underline;

}

#news-tile span, #music-tile span, #videos-tile span, #snaps-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/*END MEDIA PAGE*/

/*NEWS PAGE*/
#newsBlock{
  margin-bottom: 50px;
}

/*END NEWS PAGE*/

/*SNAPS PAGE*/
#pic-tile, #pic2-tile, #pic3-tile {
  height: 500px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
#pic-tile {
  /* background: url('../images/DSCF3668.jpeg') no-repeat; */
  background-position: center;
}
#pic2-tile {
  /* background: url('../images/DSCF3695-2.jpeg') no-repeat; */
  background-position: center;
}
#pic3-tile {
  /* background: url('../images/DSCF3733-2.jpeg') no-repeat; */
  background-position: center;
}

#myImg, #myImg1, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6, #myImg7, #myImg8, #myImg9, #myImg10, #myImg11, #myImg13, #myImg14, #myImg15, #myImg16, #myImg17, #myImg18, #myImg19, #myImg20{
  transition: 0.3s;
}

#myImg:hover, #myImg1:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover, #myImg6:hover, #myImg7:hover. #myImg8:hover, #myImg9:hover, #myImg10:hover, #myImg11:hover{
  opacity: 0.7;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0.9)
}

.modal-content{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption, #caption1, #caption2, #caption3{
  margin: auto;
  display: block;
  width: 80%
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption, #caption1, #caption2, #caption3{
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from { transform: scale(0)}
  to {transform: scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/*END SNAPS PAGE*/

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#sale-tile, #medias-tile, #specialsTile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#sale-tile {
  background: url('../images/IMG_2486.jpg') no-repeat;
  background-position: center;
}
#specialsTile {
  background: url('../images/DSCF3701.JPEG') no-repeat;
  background-position: center;
}
#medias-tile {
  background: url('../images/IMG_3314.jpg') no-repeat;
  background-position: center;
}
#sale-tile:hover, #specialsTile:hover, #medias-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#sale-tile span, #specialsTile span, #medias-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
#sale-tile, #specialsTile, #medias-tile {
  width: 360px;
  margin: 0 auto 15px;
}

/* END HOME PAGE */
/*MEDIA PAGE*/
.jumText{
  font-family: PressStart2P;
}
.medHead > h3{
  font-family: PacFont,fantasy;
  text-align: center;
}
#snaps-tile, #news-tile, #videos-tile, #music-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#snaps-tile {
  background: url('../images/IMG_2369.JPEG') no-repeat;
  background-position: center;
}
#music-tile {
  background: url('../images/IMG_2094.JPEG') no-repeat;
  background-position: center;
}
#videos-tile {
  background: url('../images/IMG_2369.JPEG') no-repeat;
  background-position: center;
}
#news-tile {
  background: url('../images/IMG_1995.JPEG') no-repeat;
  background-position: center;
}
#news-tile, #snaps-tile, #music-tile, #videos-tile {
  width: 360px;
  margin: 0 auto 15px;
}
/*END MEDIA PAGE*/

/*ABOUT PAGE*/
#LoveHeader{
  font-family: PacFont;
  text-align: center;

}

#aBody{
  font-family: PressStart2P;
}
/*END ABOUT PAGE*/
#hats-tile, #topz-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

/*CATALOGUE PAGE*/
#skopi-tile, #skopi1-tile, #skopi2-tile, #skopi3-tile {
  height: 500px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
#tops-tile, #tops1-tile, #tops2-tile, #tops3-tile {
  height: 500px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
#skopi-tile {
  background: url('../images/IMG_2486.jpg') no-repeat;
  background-position: center;
}
#skopi1-tile {
  background: url('../images/IMG_3888.jpg') no-repeat;
  background-position: center;
}
#skopi2-tile {
  background: url('../images/IMG_2490.jpg') no-repeat;
  background-position: center;
}
#skopi3-tile {
  background: url('../images/IMG_3927.jpg') no-repeat;
  background-position: center;
}

#tops-tile {
  background: url('../images/0F32BE66-8FE7-40CD-817E-2B0E46058853.jpg') no-repeat;
  background-position: center;
}
#tops1-tile {
  background: url('../images/PhotoRoom_20220611_132826.jpeg') no-repeat;
  background-position: center;
}
#tops2-tile {
  background: url('../images/IMG_3285.jpg') no-repeat;
  background-position: center;
}
#tops3-tile {
  background: url('../images/IMG_0006.jpg') no-repeat;
  background-position: center;
}

/*END CATALOGUE PAGE*/
#emailPlace{
  margin-bottom: 50px;
}





@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%
  }
}


#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}


#hats-tile {
  background: url('../images/FB_IMG_1684749015957.jpg') no-repeat;
  background-position: center;
}




#topz-tile {
  background: url('../images/IMG_3285.jpg') no-repeat;
  background-position: center;
}

#map-tile {
  background: url('../images/0F32BE66-8FE7-40CD-817E-2B0E46058853.jpg') no-repeat;
  background-position: center;
}

#hats-tile span, #topz-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
#menu-tile span, #tops-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}



/********** Large devices only **********/
/* @media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/IMG_2303.JPEG') no-repeat;
    height: 675px;
  }
} */

/********** Medium devices only **********/
/* @media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  /* #logo-img {
    background: url('../images/PhotoRoom_20230105_173615.jpg') no-repeat;
    width: 650px;
    height: 250px;
    margin: 5px 5px 5px 0;
  } */
  /* End Header */
  /* #logo-imge {
    width: 250px;
    height: 250px;
    margin: 5px 5px 5px 0;
  } */
  /* Home Page */
  /* .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  } */
  /* End Home Page */
}

/********** Small devices only **********/
/* @media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  /* .container .jumbotron {
    background: url('../images/PhotoRoom_20230105_173615.jpg') no-repeat;
    height: 432px;
  } */
  /* End Home Page */
/* } */

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  /* .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    /* padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  /* } */
  /* .navbar-brand p { /* Kosher cert */
    /* font-size: .6em;
    margin-top: 12px; */
  /* } */
  /* .navbar-brand p img { /* Star-K */
    /* height: 20px; */
  /* }  */

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  }

  /* #call-btn > a { */
    /* font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49; */
  /* } */
  /* #xs-deliver { */
    /* margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase; */

  /* End Header */

  /*about pictures*/
  @media (max-width: 766px) {
    #storyImg{
      width: 150px;
      height: 150px;
    }
  }

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  #menu-tile, #medias-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
  #hats-tile, #topz-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  #pic-tile, #pic2-tile, #pic3-tile, #pic3-tile #specialsTile {
    width: 360px;
    margin: 0 auto 15px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  body{
    position: absolute;
  }
  /* WhatsApp ICON */
  #whatIcon{
    /* width: 100px;
    height: 100px; */
    right: 30px;
    bottom: 3000px;
    padding: 24px;
  }

  /* End Header */

  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  #menu-tile, #medias-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  #menu-tile, #topz-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  #pic-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  #pic-tile, #tops-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  #menu-tile, #specialsTile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
